/* Style the body and outer container */

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.wrapperform {
  width: 600px;
  margin: 0 auto;
}

.wrapperindex {
  width: 1000px;
  margin: 0 auto;
}

.page-header {
  padding: 10px 0 0px;
  display: flex;
  align-items: center;
}

.page-header h2 {
  color: #f15b25;
  margin: 0px 0px 10px 0px;
}

.col-md-7 h3 {
  margin-top: 0px !important;
}

.pagefooter {
  padding: 10px 0 10px 0;
}

.pagefooter p {
  font-size: 75%;
}

.subhead p {
  margin-bottom: 20px;
}

.globalmenubar {
  margin-top: 20px;
  margin-left: auto;
}

.results {
  padding-left: 1em;
  text-indent: -1em;
}

.blockhidden {
  display: none;
}

.blockvisible {
  display: block;
}

table tr td:last-child a {
  margin-right: 15px;
}

.pull-right {
  margin-right: 5px;
}

ul .tab {
  list-style-type: none;
}

p + ul {
  margin-top: -10px;
}

/* button size */
.fixedsize {
  width: 150px;
}

.first-column {
}
.second-column {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
}

.second-column img {
  padding-bottom: 15px;
}

.small {
  font-size: 40%;
  width: 200px;
}

.btn {
  border-radius: 0 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-orange {
  background-color: #f15b25;
  color: #fff;
  padding: 10px;
}

.btn-orange:hover {
  color: #ffffff !important;
  background: #cf6044;
  text-decoration: none;
}

.orange {
  color: #f15b25;
}

.btn-orange.active {
  color: #fff;
  border-color: #ccc;
}
